<h1>This is from app.component</h1>
<app-user-login></app-user-login>
<app-register></app-register>
<button (click)="openChannel(name)">get channel</button>
<input type="text" (keyup)="getName($event.target.value)">
<p>{{name}}</p>
<hr>
<!-- <label for="number1"></label><input type="text" name="number1" [value]="number1" (keyup)="getValue1($event.target.value)"><br>
<label for="number2"></label><input type="text" name="number2" [value]="number2" (keyup)="getValue2($event.target.value)"><br> -->
<!-- alternative -->
<label for="number1">Number 1</label><input type="text" name="number1" [value]="number2" #nbr1><br>
<label for="number2">Number 2</label><input type="text" name="number2" [value]="number2" #nbr2><br>
<button (click)="sum(nbr1.value, nbr2.value)">sum</button>
<p>result : {{result}}</p>

<h2>Class Binding</h2>
<p [class]="success">This is success message</p>
<!-- <p [ngClass]="hasError : 'success'">This is success message</p> -->
<p [class]="error">This is error message</p>
<p [class.error]="hasError">This is conditional message</p>
<p [class]="multiClass">This is multiple class message</p>
<p [class]="conditionMultipleClass">This is conditional multiple class message</p>

<h2>Two way binding</h2>
<label for="text">Enter text</label>
<input type="text" [(ngModel)]="inputText">
<p>{{inputText}}</p>

<h2>Angular if - else condition</h2>
<p *ngIf="!hasError;else elseBlock">Success : Congratulations !</p>
<ng-template #elseBlock>
    <p>Warning : Errors !</p>
</ng-template>

<h2>Angular if - else blocks other syntax</h2>
<div *ngIf="age>25 ;then ngBlock25;else ngBlockTooYoung"></div>
<ng-template #ngBlock25>
    <p>Age is more than 25</p>
</ng-template>
<ng-template #ngBlockTooYoung>
    <p [class.error]="age<25">Too young !</p>
</ng-template>

<ng-template [ngIf]="color=='red'">Color is red</ng-template>
<ng-template [ngIf]="color=='green'">Color is green</ng-template>

<h2>Switch Cases with Angular</h2>
<div [ngSwitch]="color" [ngClass]="color=='red' ? 'error' : 'success'">
    <p *ngSwitchCase="'red'">It's red case</p>
    <p *ngSwitchCase="'green'">It's green case</p>
    <p *ngSwitchDefault="">It's default case</p>
</div>

<h2>For Loop (ngFor)</h2>
<h3>Name List with simple array</h3>
<div *ngFor="let item of usersNames">
    <p>{{item}}</p>
</div>
<h3>List of users details with objects</h3>
<ul *ngFor="let item of users">
    <li>{{item.name}} {{item.age}}</li>
</ul>

<h2>Pass data from parent component to child component</h2>
<!-- <app-products [productsType]="productsType" [productsItems]="productsItems"></app-products> -->
<div *ngFor="let item of productsItems">
    <app-products [productsItems]="item" [productsType]="productsType"></app-products>
</div>

<h2>Get data from child Component</h2>
<div *ngFor="let item of productsItems">
    <app-products (childEvent)="getData($event)" [productsItems]="item" [productsType]="productsType"></app-products>
</div>
<h3>Products Details again to check updating from child component</h3>
<div *ngFor="let item of productsItems">
    <p>
        {{item.name}}
    </p>
</div>

<h2>Angular Directives</h2>
<h3>First heading</h3>
<h3 appHideElements>Second heading</h3>

<h2>Access JSON data from a service</h2>
<div *ngFor="let item of allUsers">
    <p>{{item.name}}</p>
</div>

<h2>Bootstrap Integration</h2>
<ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="First panel">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-2" title="Second">
      <ng-template ngbPanelContent>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  
  <hr/>
  
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Toggle first</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Toggle second</button>